section#download {
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,172,255,0.9528186274509804) 1%);
    text-align: center;
    color: var(--color-white);
}

.download h2 {
    font-size: 3rem;font-weight: 200;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 1.5rem 0;
    padding-bottom: 1rem;
    position: relative;
}

.download h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10%;
    height: 1px;
    background: var(--color-white);
    transform: translateX(-50%);

}

.download-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    cursor: pointer;
}

.download-icon {
    margin: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
}